.backP2S {
    background-color: #2c3e509e;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 5px;
    border-bottom-right-radius: 8px;
}
.backP2S a {
    text-decoration: none;
    color: #fff;
}
/*GENERAL*/
    /* Ascenseur */
    ::-webkit-scrollbar {
        width: 15px;
        transition: 1s;
    }
    ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }

    * {
        font-family: 'Raleway', sans-serif;
        cursor: default;
    }

    ::selection {
        background-color: #FFF;
        color: var(--dark-primary);
    }

    ::placeholder {
        color: #3498db44;
    }

    html {
        background-color: var(--dark-primary);
        --primary-color: #01b3b3;
        --secondary-color: #298bc3;
        --dark-primary: #003838;
    }

    body {
        margin: 0 0 0 0;
        background-color: #333;
        color: white;
        font-size: 18px;
    }

    h1, h2 {
        border-bottom: 1px solid var(--primary-color);
    }

    a {
        color: var(--secondary-color);
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }

    a:hover {
        color: var(--primary-color);
    }

    a[target="_blank"]::after {
        content: '\f360';
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        margin: 0px 0px 0px 5px;
    }

    code {
        font-family: 'Roboto Mono', monospace;
    }

    input, textarea, select {
        font-size: 18px;
        background-color: transparent/*#1a1a1a*/;
        color: #fff;
        border: none;
    }

    .inputGrp {
        background-color: #262626;
        border-bottom: 2px #6c6c6c solid;
        padding-left: 1vw;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 1vw;
        transition: 250ms;
    }
    .inputGrp:hover {
        border-color: var(--primary-color);
    }

    .inputSupGrp {
        background-color: #474747;
        border-bottom: 2px #6c6c6c solid;
        padding: 1vw;
        margin: 1vw 0;
    }
    .legendSupGrp {
        font-size: 16px;
    }

    button {
        color: #fff;
        border: none;
        cursor: pointer;
    }
    /*SECTION INFO MOBILE*/
        #mobileInfo {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            background-color: #333;
            text-align: center;
            padding: 15vh 0;
            z-index: 20;
        }
        .fa-mobile-alt {
            font-size: 50vh;
        }
        .mobileInfoTexte {
            font-size: 4vw;
        }

        .continueMobile {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #4d4d4d;
            font-size: 5vw;
        }
    /*FIN INFO MOBILE*/
/*FIN GENERAL*/

/*SECTION HEADER*/
    header {
        background-color: var(--dark-primary);
        color: #FFF;
        padding: 2vw;
        font-size: 30px;
    }

    .linkHome {
        background-color: transparent;
        outline: none;
        color: #fff;
    }
    .linkHome:hover {
        background-color: transparent;
        outline: none;
        color: #fff;
    }
    .linkHome * {
        cursor: pointer;
    }

    .logo {
        height: 65px;
        vertical-align: bottom;
        animation: transLogo 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }
    @keyframes transLogo {
        0% {transform: translateX(-200px);opacity: 0%}
        50% {opacity: 0%}
        100% {transform: translateX(0);opacity: 100%}
    }
    a:focus .logo {
        animation: transLogoEnd 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    @keyframes transLogoEnd {
        0% {transform: translateX(0);opacity: 100%}
        /*50% {opacity: 0%}*/
        100% {transform: translateX(200px);opacity: 0%}
    }

/*FIN HEADER*/


/*SECTION DESCRIPTION*/
    .descTSNI {
        margin:2vw;
    }

    #stepsPic {
        width: 250px;
        margin: 20px auto;
        display: block;
    }

    #stepsTable {
        text-align: center;
        margin: auto;
    }

    #stepsTable tbody tr td {
        width: 30vw;
        vertical-align: top;
    }
    #stepsTable tbody tr #middle {
        border-right: 1px solid #666;
        border-left: 1px solid #666;
    }

    .descStep {
        padding: 0 1vw;
        margin-right: 1vw;
        background-color: #2ecc71;
        border-radius: 50px;
        font-family: 'Roboto Mono', monospace;
        font-weight: bold;
    }
    .descStep a {
        color: inherit;
    }
    .subStep {
        padding: 0 0.5vw;
    }

    .pathRailworks {
        font-family: 'Roboto Mono', monospace;
        background-color: #1e1e1e;
        color: #FFF;
        padding: 0 10px;
    }

    .fa-clipboard {
        position: relative;
        right: 4vh;
    }

    .modifRoutesProt {
        width: 50vw;
    }
/*FIN DESCRIPTION*/

/*SECTION FORM*/
    input.highlight:required:not(:valid), textarea.highlight:required:not(:valid) {
        box-shadow: 0 0 5px #F008;
        background-color: #f002;
    }
    .requiredInput {
        color: var(--secondary-color);
        margin-left: 5px;
        vertical-align: top;
    }
    /*.requiredInput.highlight {
        color: red;
        font-weight: bold;
    }*/

    .step {
        position: relative;
        top: 3vh;
        right: 3vh;
        background-color: #f39c12;
        box-shadow: 0 3px 5px 2px #0007;
        padding: 1vh 1vw;
        border-radius: 50px;
        font-weight: bold;
        font-family: 'Roboto Mono', monospace;
        transition: 0.5s;
    }
    .step::before {
        content: "\f054";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: contents;
    }
    .step.complete {
        background-color: #2ecc71;
    }
    .step.complete::before {
        content: "\f00c";
    }
    #step2 {
        top: 8vh;
    }

    fieldset {
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    #fieldLine {
        height: 10px;
        padding: 0;
        overflow: hidden;
    }
    #map {
        width: 300px;
        height: 300px;
        margin: 1vw;
    }
    #fieldZone {
        height: 10px;
        padding: 0;
        overflow: hidden;
    }
    #line {
        max-width: none;
    }
    #lineSelected {
        padding-left: 1vw;
        color: var(--primary-color);
        background-color: transparent;
    }

    .clearLine {
        background-color: transparent;
    }


    .btnAddLine {
        font-size: 18px;
        background-color: var(--primary-color);
        margin: 3px;
        border: none;
        color: #fff;
    }
    .fa-times {
        cursor: pointer;
    }

    details {
        box-shadow: 1px 1px 2px #222;
        transition: 1s;
    }
    details > summary {
        padding-left: 20px;
        margin-top: 10px;
        background-color: #0005;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    details > p, details > #detailsCont {
        background-color: #0005;
        padding: 4px;
        margin-top: 0;
    }

    form {
        margin: 2vw; 
    }

    .tooltip {
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #0005;
        color: #eee;
        text-align: center;
        padding: 5px 0;
        margin-left: 5px;
        position: absolute;
        z-index: 1;
        bottom: -5px;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .lblPoint1 {
        background-color: #27ae60;
        padding: 2px;
        border-radius: 2px;
    }
    .lblPoint2 {
        background-color: #8e44ad;
        padding: 2px;
        border-radius: 2px;
    }

    .colPoint1 {
        vertical-align: top;
    }
    .colPoint2 {
        vertical-align: bottom;
    }
    .colMap {
        text-align: center;
    }

    .coordInfos {
        font-size: 12px;
    }

    .mapFrance {
        height: 30vh;
        width: 30vh;
        background-image: url(pictures/mapFrance.png);
        background-size: cover;
    }

    .zone {
        height: 30vh;
        width: 30vh;
        margin-left: 0vh;
        margin-top: 0vh;
        outline: 2px dashed red;
        position: absolute;
        display: none;
    }

    .point {
        border-radius: 10px;
        outline: 4px solid #27ae60;
        position: absolute;
        z-index: 2;
        height: 0px;
        width: 0px;
    }
    .two {
        margin-top: 30vh;
        margin-left: 30vh;
        outline: 4px solid #8e44ad;
    }

    #erreurMap {
        color:red;
        font-weight: bold;
    }

    ::placeholder {
        color: #AAA;
    }

    .submitBtn {
        cursor: pointer;
        background-color: #2ecc71;
        font-size: 25px;
        padding: 10px;
    }
    .submitBtn:hover {
        background-color: #239051;
    }
    .resetBtn {
        cursor: pointer;
        background-color: #cc2e2e;
        font-size: 25px;
        padding: 10px;
    }
    .resetBtn:hover {
        background-color: #901717;
    }
    #cloud {
        background-image: url("pictures/cloud.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 54.51%;
        color: #333333;
        margin-top: 25vh;
        background-position: center;
    }
    #loadOverlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #333;
        text-align: center;
        z-index: 20;
    }
    .fa-folder-open {
        font-size: 10vh;
        color: #e4e44a;
        position: relative;
        bottom: 5.5vh;
        left: 3vh;
        transform: rotate(10deg);
        transition: 0.5s;
    }
    .fa-folder-open:hover {
        transform: rotate(0);
    }
    #loading {
        height: 20vh;
        margin-top: 12vh;
    }
/*FIN FORM*/

/*SECTION INSTALLATION*/
    .installation {
        margin:2vw;
    }
/*FIN INSTALLATION*/

/*SECTION ABOUT*/
    .about {
        margin:2vw;
    }
    .aboutLogo {
        height: 5vh;
        margin: 2.5vh;
        vertical-align: middle;
        transition: 1s;
    }
    #aboutDB, #aboutTracksbin, #aboutMap {
        border: 1px #333 dashed;
    }
    #aboutDB * {
        cursor: revert;
    }
    #aboutTracksbin {
        background-color: #081217;
    }
    #aboutMap {
        background-color: #081217;
    }
/*FIN ABOUT*/

/*SECTION FOOTER*/
    footer {
        text-align: center;
        padding: 3px;
        background-color: var(--dark-primary);
        color: white;
        font-size: 17px;
    }

    .contactCatg {
        height: 17px;
        font-size: 17px;
        vertical-align: middle;
    }

    .mail, .discord {
        color: #FFF/*#3498db*/;
        background-color: transparent;
        border-style: hidden;
        font-size: 17px;
        font-family: 'Roboto Mono', monospace;
        transition: 0.5s;
    }

    dialog {
        opacity: 0.7;
        padding: 3px;
        border: none;
        background-color: black;
        color: white;
        position: fixed;
        bottom: 0;
        right: auto;
    }

    .bugReport {
        position: fixed;
        bottom: 0;
        right: 10px;
        background-color: red;
        color: #fff;
        padding: 0 5px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-family: 'Roboto Mono', monospace;
        font-size: 2vh;
    }
    .bugReport:hover {
        background-color: #ff1a1a;
        color: #fff;
        font-size: 3vh;
    }
/*FIN FOOTER*/


/*SECTION BUGS*/
    section {
        margin:2vw;
    }

    option {
        background-color: #1a1a1a;
    }

    .reportedBugs {
        width: 100%
    }

    .reportedBugs tbody td {
        display: grid;
        padding: 10px;
    }
    .reportedBugs tbody td:first-child {
        background-color: #222;
        border-top-left-radius: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .reportedBugs tbody td:nth-child(2) {
        background-color: #1a1a1a;
    }
    .reportedBugs tbody td:last-child {
        margin-bottom: 20px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
    }

    .typeBug {
        font-size: 2vh;
    }

    .notResolved {
        background-color: #510000a6;
        display: table-cell !important;
    }
    .resolved {
        background-color: #006400a6;
        display: table-cell !important;
    }

    .confirm {
        margin:2vw;
    }
    .back {
        cursor: pointer;
        background-color: #0000007d;
        font-size: 4vh;
    }
/*FIN BUGS*/

/*SECTION TELECHARGMEMENT*/
    .dlLink {
        background-color: #2ecc71;
        color: #fff;
        padding: 10px;
        border: 1px solid #2ecc71;
        outline: none;
    }
    .dlLink:hover {
        background-color: #239051;
        color: #fff;
        outline: none;
    }

    .btnExample {
        background-color: lightgray;
        color: #000;
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        border: 1px solid gray;
    }

    .serzmaster {
        width: 40vw;
    }
/*FIN TELECHARGEMENT*/